* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    border: 1px solid crimson;
    display: flex;
    flex-direction: column;
}

.box {
    border: 1px solid skyblue;
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
    }
    .box {
        width: 25%;
    }
}